<div class="big">
    <div class="info-user">
        {{#if user.profileImage}}
            <div class="profile">
                <img src="{{user.profileImage}}" style="border-radius: 200px">
            </div>
        {{/if}}
        {{#unless user.profileImage}}
            <div>
                <div class="profile">
                    <img src="/images/l60Hf.png" class="img-fluid">
                </div>
            </div>
        {{/unless}}
        <div class="info">
            <h1>{{user.fullName}}</h1>
            <p><a style="color:#E1D89F" ; href="" mailto>{{user.email}}</a></p>
            <p>{{user.info}}</p>
            <p>{{user.city}}</p>
            <p>{{user.phoneNumber}}</p>
            <p>{{user.postcode}}</p>
            <a href="/auth/settings" class="btn" role="button">Edit profile</a>
        </div>
    </div>

    {{#if user.settings}}
    <form class="form1" action="/auth/complete-profile" method="post" enctype="multipart/form-data">
            <div>
                <label class="header">Profile Photo :</label>
                <input id="test1" type="file" name="profileImage" placeholder="Photo">
            </div>
            <div>
                <label class="header">Info :</label>
                <input id="info" type="text" name="info" placeholder="Description"
                    value="{{user.info}}">
            </div>
            <div>
                <label class="header">City :</label>
                <input id="city" type="text" name="city" placeholder="City" value="{{user.city}}">
            </div>
            <div>
                <label class="header">Postcode :</label>
                <input id="postcode" type="text" name="postcode" placeholder="Postcode"
                    value="{{user.postcode}}">
            </div>
            <div>
                <label class="header">Number :</label>
                <input id="phoneNumber" type="text" name="phoneNumber" placeholder="Phone number"
                    value="{{user.phoneNumber}}">
            </div>
            <input type="submit" class="submit " role="button" value="upload">
        </form>
    {{/if}}
    {{!-- USER INFOs --}}
    <div class="heads">
        <h1>My offers</h1>
    </div>
    <hr>
{{#if offersByOwner}}
<div class="container">
    <main>
        <section class="pt-5 text-center container">
            <div class="container">
                <main>
                    <div class="album pb-2 px-4   bg-opacity-50">
                        <div class="container">
                            <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 g-4 mb-5">
                                {{#each offersByOwner}}
                                <div class="col">
                                    <div class="card h-100 border-0 bg-dark bg-gradient text-light shadow-lg">
                                        <img class="bd-placeholder-img card-img-top" width="100%" height="180"
                                            src="{{images}}" role="img" aria-label="Placeholder: Thumbnail"
                                            preserveAspectRatio="xMidYMid slice" focusable="false">
                                        <rect width="100%" height="100%" fill="#55595c"></rect></img>
                                        <div class="card-body">
                                            <h6 style="color: #E1D89F;" class=" card-text">{{name}}</h6>
                                        </div>
                                        <div class="text-center mb-3">
                                            <a href="/offer/details/{{this._id}}" class=" btn btn-outline-" style="color: #E1D89F;" role=" button">See more</a>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                </main>
            </div>
        </section>
    </main>
</div>
{{/if}}

{{#if arrLikes}}
<div class="container">
    <main>
        <section class="pt-5 text-center container">
            <div class="container">
                <main>
                    <div class="album pb-2 px-4   bg-opacity-50">
                        <div class="container">
                            <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 g-4 mb-5">
                                {{#each arrLikes}}
                                <div class="col">
                                    <div class="card h-100 border-0 bg-dark bg-gradient text-light shadow-lg">
                                        <img class="bd-placeholder-img card-img-top" width="100%" height="180"
                                            src="{{images}}" role="img" aria-label="Placeholder: Thumbnail"
                                            preserveAspectRatio="xMidYMid slice" focusable="false">
                                        <rect width="100%" height="100%" fill="#55595c"></rect></img>
                                        <div class="card-body">
                                            <h6 style="color: #E1D89F;" class=" card-text">{{this.name}}</h6>
                                            <h6 style="color: #E1D89F;" class=" card-text">{{this.price}}</h6>
                                        </div>
                                        <div class="text-center mb-3">
                                            <a href="/offer/details/{{this._id}}" class=" btn btn-outline-" style="color: #E1D89F;" role=" button">See more</a>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                </main>
            </div>
        </section>
    </main>
    {{/if}}
</div>