<div class="container">
    <main class="mt-5 pt-4">
        <div class="container dark-grey-text mt-5 px-4 bg-light bg-opacity-50">
            <div class="row wow fadeIn">
                <div class="col-md-6 mb-4">
                    <img src="/images/user-icon.png" class="img-fluid">
                </div>
                <div class="col-md-6 mb-4">
                    <div class="p-4">
                        <div class="mb-3">
                            <h2 class="pt-3">Your Account</h2>
                        <div>Your offers</div>
                            <section class="container-list">
                                <hr>
                                <div class="row">
                                    {{#each offersByOwner}}
                                        <div class="col-md-4">
                                            <article class="character">
                                                <h2>{{name}}</h2>
                                                <hr>
                                                <img src={{images}} style="width: 100px"> 
                                                <p>Address: {{address}}</p>
                                                <p>Land size: {{landSize}}</p>
                                                <p>Price: {{price}}</p>
                                                <p>Date: {{date}}</p>
                                                <a href="/offer/details/{{id}}">Details</a>
                                                <a href="/offer/edit/{{id}}">Edit</a>
                                            </article>
                                        </div>
                                    {{/each}}
                                </div>
                            </section>
                        </div>

                        <div>Your likes</div>
                            <section class="container-list">
                                <hr>
                                <div class="row">
                                    {{#each arrLikes}}
                                        <div class="col-md-4">
                                            <article class="character">
                                                <h2>{{name}}</h2>
                                                <hr>
                                                <img src={{images}} style="width: 100px"> 
                                                <p>Address: {{address}}</p>
                                                <p>Land size: {{landSize}}</p>
                                                <p>Price: {{price}}</p>
                                                <p>Date: {{date}}</p>
                                                {{!-- <a href="/offer/details/{{id}}">Details</a> --}}
                                                <a href="/offer/remove/{{id}}">Remove</a>
                                            </article>
                                        </div>
                                    {{/each}}
                                </div>
                            </section>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
</div>