<div class="container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2 style="color: #E1D89F ; font-size:1.1cm ; position:relative" class="fw-bold mb-2">Edit offer</h2>
                <form action="/offer/edit/{{foundOffer.id}}" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-8 mb-3">
                            <div class="form-outline">
                                <select style="background-color: #E1D89F;" name="type" id="type"
                                    value="{{foundOffer.type}}">
                                    <option style="color:black ;" value="flat">Flat</option>
                                    <option value="house">House</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <div class="form-outline">
                                <input style="background-color: #E1D89F; " type="text" name="name"
                                    placeholder="Title of the property" value="{{foundOffer.name}}"
                                    class="form-control" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <div class="form-outline">
                                <input style="background-color: #E1D89F; " type="text" name="address"
                                    placeholder="Address" value="{{foundOffer.address}}" class="form-control"
                                    required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <div class="form-outline">
                                <input style="background-color: #E1D89F; " type="number" name="landSize"
                                    placeholder="500 m^2" value="{{foundOffer.landSize}}">m2
                                class="form-control" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <div class="form-outline">
                                <input style="background-color: #E1D89F; " type="file" name="image-cover"
                                    placeholder="image" class="form-control-file" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <div class="form-outline">
                                <input style="background-color: #E1D89F; " type="number" name="price"
                                    placeholder="price" value="{{foundOffer.price}}">USD
                                class="form-control" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 mb-3">
                            <div class="form-outline">
                                <select style="background-color: #E1D89F;" name="toilets" id="toilets"
                                    value="{{foundOffer.toilets}}">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 mb-3">
                            <div class="form-outline">
                                <select style="background-color: #E1D89F;" name="bedrooms" id="bedrooms"
                                    value="{{foundOffer.bedrooms}}">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 mb-3">
                            <div class="form-outline">
                                <select style="background-color: #E1D89F;" name="bedrooms" id="bedrooms"
                                    value="{{foundOffer.bedrooms}}">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 mb-3">
                            <div class="form-outline">
                                <label for="garages">Garage spaces :
                                    <select style="background-color: #E1D89F;" name="garages" id="garages"
                                        value="{{foundOffer.garages}}">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 mb-3">
                            <div class="form-outline">
                                <label for="livingRooms">Living areas :
                                    <select style="background-color: #E1D89F;" name="livingAreas" id="livingAreas"
                                        value="{{foundOffer.livingAreas}}">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-outline">
                                <label>
                                    Description: <input style="background-color: #E1D89F;" type="text"
                                        name="description" placeholder=" Description" value="{{foundOffer.description}}"
                                        required /> // class="form-control" sildim
                                </label>
                            </div>
                        </div>
                    </div>
                    <input style="color: #E1D89F ; " type="submit" value="Edit offer" class="btn-dark btn">
                    {{#if errorMessage}}
                    <p class="error">{{errorMessage}}</p>
                    {{/if}}
                </form>
            </div>
        </div>
    </div>
</div>