<div class="container">
    <main class="mt-5 pt-4">
        <div class="container dark-grey-text mt-5 px-4 bg- bg-opacity-50">
            <div class="row wow fadeIn">
                <div class="col-md-6 my-4">
                    <img src="{{foundOffer.images}}" class="img-fluid w-100 rounded-5" />
                </div>
                <div class="col-md-6 mb-4">
                    <div class="p-4">
                        <div class="mb-3">
                            <h2>{{foundOffer.name}}</h2>
                        </div>
                        <div class="lead">
                            <p style="color: #E1D89F;"><strong style="font-size:115%;">Address:
                                </strong>{{foundOffer.address}}</p>
                            <p style="color: #E1D89F;"><strong style="font-size:115%;">Land size:</strong>
                                {{foundOffer.landSize}}</p>
                            <p style="color: #E1D89F;"><strong style="font-size:115%;">Price:</strong>
                                {{foundOffer.price}}</p>
                            <p style="color: #E1D89F;"><strong style="font-size:115%;">Toilets:</strong>
                                {{foundOffer.toilets}}</p>
                            <p style="color: #E1D89F;"><strong style="font-size:115%;">Garage spaces:</strong>
                                {{foundOffer.garages}}</p>
                            <p style="color: #E1D89F;"><strong style="font-size:115%;">Living areas:</strong>
                                {{foundOffer.livingAreas}}</p>
                            <p style="color: #E1D89F;"><strong style="font-size:115%;">Date:</strong>{{foundOffer.date}}
                            </p>
                            <p> Posted by <a href="/page/{{foundOffer.owner._id}}">{{foundOffer.owner.username}}</a></p>
                        </div>
                        <p class="lead font-weight-bold" style="color: #E1D89F;"><strong style="font-size:115%;">
                                Description:</strong></p>
                        <p style="color: #E1D89F; font-size:105%;">{{foundOffer.description}}</p>
                        <a href="/offer/list"
                            class="btn btn-dark-moon btn-outline-light btn-rounded text-white my-25 px-4"
                            role="button">>Back to Offers</a>
                        {{#unless isLiked}}
                        <a id="liked" href="/offer/like/{{foundOffer._id}}">Like</a>
                        {{/unless}}
                        {{#if isLiked}}
                        <a id="liked" href="/offer/like/{{foundOffer._id}}">Unlike</a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>