

<div class="container dark-grey-text mt-5 px-4 bg- bg-opacity-50">
    <div class="container_d">
        <div class="col-md-6 my-4">
            <img src="{{foundOffer.images}}" class="img-fluid w-100 rounded-5" />
        </div>
        <div class="col-md-6 mb-4">
            <div class="p-4">
                    <p style="color: #E1D89F;"><strong style="font-size:245%;">{{foundOffer.name}}</strong></p>
                    <p style="color: white;">Posted by <a href="/page/{{foundOffer.owner._id}}" style="text-decoration: none; color:  #E1D89F;" >{{foundOffer.owner.username}}</a>
                <hr>
                <div class="lead">
                    <p>{{foundOffer.address}}</p>
                    <p>{{foundOffer.landSize}} m2</p>
                    <p>{{foundOffer.price}}</p> 
                    <p>{{foundOffer.toilets}} toilets</p>
                    <p>{{foundOffer.garages}} garage spaces</p>
                    <p>{{foundOffer.livingAreas}} living areas</p>
                    <p>{{foundOffer.bedrooms}} bedrooms</p>
                    </p>
                    <p>{{foundOffer.description}}</p>
                </div>
                <div class="mb-3">
                {{#unless isLiked}}
                    <div>
                    <a id="liked" href="/offer/like/{{foundOffer._id}}"
                    class="btn-dark btn"
                    role="button">Add to favorites</a>
                    </div>
                {{/unless}}
                </div class="col-md1 my-8">
                {{#if isLiked}}
                <a id="liked" href="/offer/like/{{foundOffer._id}}" class="btn btn-success btn-outline-dark btn-rounded text-white my-25 px-4">Unlike</a>
                {{/if}}
            </div>
        </div>
    </div>
</div>
