<section class="container-details">
    <h1>Offer detail</h1>
    <hr>
    <div class="row">
            <div class="col-md-4">
                <article class="character">
                    <h2>{{foundOffer.name}} <small>(ID {{id}})</small></h2>
                    <hr>
                    <p>Address: {{foundOffer.address}}</p>
                    <p>Land size: {{foundOffer.landSize}}</p>
                    <p>Price: {{foundOffer.price}}</p>
                    <p>Toilets: {{foundOffer.toilets}}</p>
                    <p>Garage spaces: {{foundOffer.garages}}</p>
                    <p>Living areas: {{foundOffer.livingAreas}}</p>
                    <p>Description: {{foundOffer.description}}</p>
                    <p>Date: {{foundOffer.date}}</p>
                </article>
            </div>
    </div>
</section>