<section class="container-list">
    <hr>
    <div class="row">
        

        {{#each foundOffers}}
            <div class="col-md-4">
                <article class="character">
                    <h2>{{name}}</h2>
                    <hr>
                    <img src={{images}} style="width: 100px"> 
                    <p>Address: {{address}}</p>
                    <p>Land size: {{landSize}}</p>
                    <p>Price: {{price}}</p>
                    <p>Date: {{date}}</p>
                    <p> Posted by <a href="/page/{{owner._id}}">{{owner.username}}</a></p>
                    <p>{{isLiked}}</p>
                    <a href="/offer/details/{{id}}">Details</a>

                        {{#unless isLiked}}
                    <a href="/offer/like/{{id}}">Like</a>
                        {{/unless}}

                        {{#if isLiked}}
                    <a href="/offer/like/{{id}}">Unlike</a>
                        {{/if}}
                </article>
            </div>
        {{/each}}
    </div>
</section>