{{!-- <section class="container-list">
    <hr>
    <div class="row">
        {{#each foundOffers}}
        <div class="col-md-4">
            <article class="character">
                <h2>{{name}}</h2>
                <hr>
                <img src={{images}} style="width: 100px">
                <p>Address: {{address}}</p>
                <p>Land size: {{landSize}}</p>
                <p>Price: {{price}}</p>
                <p>Date: {{date}}</p>
                <p> Posted by <a href="/page/{{owner._id}}">{{owner.username}}</a></p>
                <p>{{isLiked}}</p>
                <a href="/offer/details/{{id}}">Details</a>

                {{#unless isLiked}}
                <a id="liked" href="/offer/like/{{id}}">Like</a>
                {{/unless}}

                {{#if isLiked}}
                <a id="liked" href="/offer/like/{{id}}">Unlike</a>
                {{/if}}
            </article>
        </div>
        {{/each}}
    </div>
</section> --}}

<div class="container">
    <main>
        <section class="pt-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 style="color: #E1D89F; class=" fw-light">Rental and Sale Properties From Proprio </h1><br>
                </div>
            </div>
        </section>

        <div class="album pb-2 px-4   bg-opacity-50">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 g-4 mb-5">
                    {{#each foundOffers}}

                    <div class="col">
                        <div class="card h-100 border-0 bg-dark bg-gradient text-light shadow-lg">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="180" src="{{this.images}}"
                                role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                focusable="false">
                            <rect width="100%" height="100%" fill="#55595c"></rect></img>
                            <div class="card-body">
                                <h6 style="color: #E1D89F; class=" card-text">{{this.name}}</h6>
                                <h7 class="card-text">{{this.owner}}</h7>
                            </div>

                            <div class="text-center mb-3">
                                <a href="/offer/details/{{this._id}}" class=" btn
                                    btn-outline-" style="color: #E1D89F; role=" button">See
                                    More</a>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
    </main>
</div>