{{!-- <div class="container">
    <main class="mt-5 pt-4">
        <div class="container dark-grey-text mt-5 px-4 bg-light bg-opacity-50">
            <div class="row wow fadeIn">
                {{#if user.profileImage}}
                <div class="col-md-6 mb-4">
                    <img src="{{user.profileImage}}" class="img-fluid">
                </div>
                {{/if}}
                {{#unless user.profileImage}}
                <div class="col-md-6 mb-4">
                    <img src="/images/l60Hf.png" class="img-fluid">
                </div>
                {{/unless}}
                <div class="col-md-6 mb-4">
                    <div class="p-4">
                        <div class="mb-3">
                            <p class="text font-italic"></p>
                            <h2 class="pt-3">{{user.fullName}}</h2>
                            <div><a href="" mailto>{{user.email}}</a></div>
                            <h3 class="pt-3">{{user.info}}</h3>
                            <h3 class="pt-3">{{user.city}}</h3>
                            <h3 class="pt-3">{{user.phoneNumber}}</h3>
                            <h3 class="pt-3">{{user.postcode}}</h3>
                        </div>
                    </div>
                    {{#each user.reviews}}
                    <lu>
                        <li>{{this.comment}} -by {{this.user.username}}</li>
                    </lu>
                    {{/each}}
                        <form action="/page/{{user.id}}" method="POST">
                        <label> Write a review
                        <input type="text" name="comment"/>
                        </label>
                        <button type="submit">Submit review</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div> --}}

<div class="big">
    <div class="info-user">
        {{#if user.profileImage}}
        <div class="col-md-6 mb-4">
            <img src="{{user.profileImage}}" class="img-fluid">
        </div>
        {{/if}}
        {{#unless user.profileImage}}
        <div class="col-md-6 mb-4">
            <img src="/images/l60Hf.png" class="img-fluid">
        </div>
        {{/unless}}
        <div class="info">
            <h1>{{user.fullName}}</h1>
            <hr>
            <p><a style="color:#E1D89F" ; href="">{{user.email}}</a></p>
            <p>{{user.city}}</p>
            <p>{{user.phoneNumber}}</p>
            <p>{{user.postcode}}</p>
            <p>{{user.info}}</p>
        </div>
    </div>
    <div class="rev">
    <div class="heads">
        <h3>Reviews</h3>
    </div>
    <hr>
        {{#each user.reviews}}
        <lu>
            <li>"{{this.comment}}" -by {{this.user.username}}</li>
        </lu>
        {{/each}}
        <form action="/page/{{user.id}}" method="POST">

            <hr>
            <label  style="color:#E1D89F;"> Write a review</label>
            <input type="text" name="comment"/>
            <button class="bb" type="submit" class="btn-dark btn">Submit review</button>
        </form>
    </div>
</div>